src/conf/xml-resources/web-services/BooksWebService/wsdl/BooksService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://new.webservice.namespace" 
	targetNamespace="http://new.webservice.namespace">
	<wsdl:types>
		<xs:schema  targetNamespace="http://new.webservice.namespace" elementFormDefault="qualified">
			<xs:simpleType name="seriesNumberType">
				<xs:restriction base="xs:integer">
					<xs:minExclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="langType">
				<xs:restriction base="xs:string">
					<xs:pattern value="[A-Z]{3}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name ="authorType">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:integer"/>
					<xs:element minOccurs="1" maxOccurs="1" name="firstName" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="lastName" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="bookType">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:integer"/>
					<xs:element minOccurs="1" maxOccurs="1" name="title" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="lang" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="author" type="tns:authorType"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="category" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="series" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="seriesNumber" type="xs:integer"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="addBookRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="API_TOKEN" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="title" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="lang" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="category" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="series" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="seriesNumber" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addBookResponse" type="tns:bookType"/>
			<xs:element name="addAuthorRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="API_TOKEN" type="xs:string"/>
						<xs:element name="firstName" type="xs:string"/>
						<xs:element name="lastName" type="xs:string"/>	
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addAuthorResponse" type="tns:authorType"/>
			<xs:element name="addBookAuthorRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="API_TOKEN" type="xs:string"/>
						<xs:element name="bookId" type="xs:integer"/>
						<xs:choice>
							<xs:sequence>
								<xs:element name="firstName" type="xs:string"/>
								<xs:element name="lastName" type="xs:string"/>
							</xs:sequence>
							<xs:element name="authorId" type="xs:integer"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addBookAuthorResponse" type="tns:bookType"/>
			<xs:element name="getBookRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="API_TOKEN" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getBookResponse" type="tns:bookType"/>
			<xs:element name="getAuthorRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="API_TOKEN" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAuthorResponse" type="tns:authorType"/>
			<xs:element name="getBooksListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="lang" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="category" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="series" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getBooksListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="book" type="tns:bookType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAuthorsListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAuthorsListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="author" type="tns:authorType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getBookAuthorsRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="bookId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getBookAuthorsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="author" type="tns:authorType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="addBookMessageRequest">
		<wsdl:part name="parameter" element="tns:addBookRequest"/>
	</wsdl:message>
	<wsdl:message name="addBookMessageResponse">
		<wsdl:part name="parameter" element="tns:addBookResponse"/>
	</wsdl:message>
	<wsdl:message name="addAuthorMessageRequest">
		<wsdl:part name="parameter" element="tns:addAuthorRequest"/>
	</wsdl:message>
	<wsdl:message name="addAuthorMessageResponse">
		<wsdl:part name="parameter" element="tns:addAuthorResponse"/>
	</wsdl:message>
	<wsdl:message name="addBookAuthorMessageRequest">
		<wsdl:part name="parameter" element="tns:addBookAuthorRequest"/>
	</wsdl:message>
	<wsdl:message name="addBookAuthorMessageResponse">
		<wsdl:part name="parameter" element="tns:addBookAuthorResponse"/>
	</wsdl:message>
	<wsdl:message name="getBookMessageRequest">
		<wsdl:part name="parameter" element="tns:getBookRequest"/>
	</wsdl:message>
	<wsdl:message name="getBookMessageResponse">
		<wsdl:part name="parameter" element="tns:getBookResponse"/>
	</wsdl:message>
	<wsdl:message name="getAuthorMessageRequest">
		<wsdl:part name="parameter" element="tns:getAuthorRequest"/>
	</wsdl:message>
	<wsdl:message name="getAuthorMessageResponse">
		<wsdl:part name="parameter" element="tns:getAuthorResponse"/>
	</wsdl:message>
	<wsdl:message name="getBooksListMessageRequest">
		<wsdl:part name="parameter" element="tns:getBooksListRequest"/>
	</wsdl:message>
	<wsdl:message name="getBooksListMessageResponse">
		<wsdl:part name="parameter" element="tns:getBooksListResponse"/>
	</wsdl:message>
	<wsdl:message name="getAuthorsListMessageRequest">
		<wsdl:part name="parameter" element="tns:getAuthorsListRequest"/>
	</wsdl:message>
	<wsdl:message name="getAuthorsListMessageResponse">
		<wsdl:part name="parameter" element="tns:getAuthorsListResponse"/>
	</wsdl:message>
	<wsdl:message name="getBookAuthorsMessageRequest">
		<wsdl:part name="parameter" element="tns:getBookAuthorsRequest"/>
	</wsdl:message>
	<wsdl:message name="getBookAuthorsMessageResponse">
		<wsdl:part name="parameter" element="tns:getBookAuthorsResponse"/>
	</wsdl:message>
	<wsdl:portType name="BookPortType">
		<wsdl:operation name="addBook">
			<wsdl:input message="tns:addBookMessageRequest"/>
			<wsdl:output message="tns:addBookMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addAuthor">
			<wsdl:input message="tns:addAuthorMessageRequest"/>
			<wsdl:output message="tns:addAuthorMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addBookAuthor">
			<wsdl:input message="tns:addBookAuthorMessageRequest"/>
			<wsdl:output message="tns:addBookAuthorMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getBook">
			<wsdl:input message="tns:getBookMessageRequest"/>
			<wsdl:output message="tns:getBookMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getAuthor">
			<wsdl:input message="tns:getAuthorMessageRequest"/>
			<wsdl:output message="tns:getAuthorMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getBooksList">
			<wsdl:input message="tns:getBooksListMessageRequest"/>
			<wsdl:output message="tns:getBooksListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getAuthorsList">
			<wsdl:input message="tns:getAuthorsListMessageRequest"/>
			<wsdl:output message="tns:getAuthorsListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getBookAuthors">
			<wsdl:input message="tns:getBookAuthorsMessageRequest"/>
			<wsdl:output message="tns:getBookAuthorsMessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookBinding" type="tns:BookPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addBook">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAuthor">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addBookAuthor">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBook">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAuthor">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBooksList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAuthorsList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBookAuthors">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookService">
		<wsdl:port name="BookPort" binding="tns:BookBinding">
			<soap:address location="Empty"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
